{% extends 'base.html' %}

{% block title %}Home PAGE{% endblock %}

    

    {% block content %}
    
<style>*{ 
    color: white;
}
body{
    /* z-index: 999; */
    background-color: transparent;
}
#background{
    z-index:1;
    position: absolute;
}
main{
    z-index: 999;
    position: absolute;

}
</style>

<body>
    <div id="background">
        {% include "theme.html" %}
    </div>
    <main>

    
    <h1 ><center>Welcome!</center></h1>
    <h1 ><center>Welcome!</center></h1>
    <h1 ><center>Welcome!</center></h1>
    <h1 ><center>Welcome!</center></h1>
    <h1 ><center>Welcome!</center></h1>
    <h1 ><center>Welcome!</center></h1>
</main>
</body>
{% endblock %}