{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>       <!-- cdn link for pop-up msg -->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    
</head>

<body>
    <div class="container">
        <div class="signup-form">
            <h2>Sign Up</h2>
            <form action="" method="post" >
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>

                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" required pattern="[0-9]{10}" title="Please enter a valid 10-digit phone number.">

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <button type="submit" >Sign Up</button>
            </form>
        </div>
       
    </div>
    <br>
    
 
    <script>
        const username = "{{ username|escapejs }}";
        const UID = "{{ UID|escapejs }}";
        const password = "{{ password|escapejs }}";

        {% if UID %}
        Swal.fire({
            title: 'Sign-up Successful!',
            text: `Dear ${username}, \nUID: ${UID}\nPASSWORD: ${password}`,
            icon: 'success'


        }).then((result) => { 
                window.location.href = "/set_password";
            
        });
        {% endif %}
    </script>
</body>
</html>
