{% extends 'base.html' %}

{% block title %}User Dashboard PAGE{% endblock %}

{% block content %}

    <div class="container">
    {% if messages %}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="login-box">
            <h2>User Dashboard</h2>
            <h1> table </h1>
            <table class="table">
                
            </table>

            
</div>
{% endblock %}